:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.purple-mint-theme{

    --primary: #c792df;
    --border: #950f4d;
    --background: #2e2d4d;
    --button: #6becc5;
    --text: #73fbd3;

}

.dark-theme{
    
    --primary: #323232;
    --border: #434343;
    --background: #000000;
    --button: #ffffff;
    --text: #ffffff;

}

.keycap-card{ 
  border-color: var(--border);
  background-color: var(--primary);
  border: solid 4px;
  border-radius: 4px;
  width: 20%;
  height:auto;
  padding-left: 2.4%;
  padding-right: 2.4%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

body{
  
  background-color: var(--background);
  
}

button{
  background-color: var(--background);
  border: solid 4px;
  border-color: var(--border);
  border-radius: 4px;
  color: var(--text);
}

p{
  color: var(--text);
}